.numb {
  font-size: 2em;
}

button {
  font: 2em sans-serif;
  margin: 0px 0px 10px 40px;
}

.message {
  font-size: 2em;
  margin: 10px 0px 10px 0px;
}

small {
  font-size: 1em;
  font-family: sans-serif;
}
